/* obecné */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    background:
        linear-gradient(
            rgba(219, 184, 179, 0.2),
            rgba(219, 184, 179, 0.2)
        ),
        url("elements/annie-spratt-xz485Eku8O4-unsplash.jpg");

    background-size: cover;
    background-attachment: fixed;
}


a {
    text-decoration: none;
    color: black;
    margin: 2vh;
}

p {
    font-size: larger;
    font-family: "Tuffy", sans-serif;
    font-weight: 400;
    font-style: normal;
}


footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, 0);
    font-size: small;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.align-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    text-align: left;
    margin-left: 20vw;
    
}







/* fonty */

.sedgwick-ave-regular {
  font-family: "Sedgwick Ave", cursive;
  font-weight: 400;
  font-style: normal;
}

.tuffy-regular {
  font-family: "Tuffy", sans-serif;
  font-weight: 400;
  font-style: normal;
}






/* navigace */

nav {
    padding: 1%; 
    position: relative;
    font-size: x-large;
}

.main-title { 
    width: 30%; 
    position: fixed;
    margin: 1%;
    top: 0;
}


.nav-buttons {
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1%;
    color: black;
}

.nav-buttons:hover {
    color: rgb(60, 63, 85);
}





/* tlačítka*/

.buttons:link {
    font-size: larger;
    margin: 1%;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
}

.buttons:hover {
    background-color: rgb(60, 63, 85);
    color: white;
    cursor: pointer;
}

.buttons.selected {
    background-color: rgb(60, 63, 85);
    color: white;
    border-color: white;
}








/* start page */

#quiz-title {
    font-size: x-large;
}

#info {
    font-size: larger;
}

#start-quiz {
    padding: 2%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button {
    font-size: x-large;
    padding: 5%;
    margin: 1%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

#start-button:hover {
    background-color: rgb(60, 63, 85);
    color: white;
    cursor: pointer;
}




/* otázky */

.questions {
    margin: 20vh;
    font-size: x-large;
}

h2 {
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal;
}

.responses {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5vh;
    width: 40vw;
    font-family: "Tuffy", sans-serif;
    font-weight: 400;
    font-style: normal;
}




/* výsledky */

#result-section {
    font-size: x-large;
}

.results {
    display: none;
    width: 60vw;
    margin-left: 5vw;
}

#repeat-button {
    font-size: x-large;
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

#repeat-button:hover {
    background-color: rgb(60, 63, 85);
    color: white;
    cursor: pointer;
}

.repeat {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ostatní */

.other-section {
    height: 90vh;
    width: 60vw;
    justify-content: space-evenly;
    font-size: larger;
}

.zdroje {
    text-decoration: underline;
    font-family: "Tuffy", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

.tips {
    height: 70vh;
}


/* responzivita */

@media only screen and (max-width: 800px) {

    #start-button{
        padding: 10%;
        font-size: larger;
    }

    #start-quiz {
        width: 40vw;
    }

    .flex-column{
        height: 40vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    #hero-section {
        height: 80vh;
    }

    nav{
        height: 8vh;
    }
    
    #main-title-bg{
        left: 0;
        top: 0;
        margin: 0%;
        height: 8%;
        width: 100vw;
        position: fixed;
    }
    

    img{
        max-width: 50vw;
        height: auto;
    }

    .nav-buttons{
        margin-top: 5%;
        font-size: 2.5vh;
        width: 60vw;
    }

    #home-text{
        max-width: 30%;
        text-align: center;
        font-size: 100%;
    }

    #quiz-title{
        font-size: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
        max-width: 80vw;
    }

    #info{
        padding-left: 15vw;
        padding-right: 15vw;
        margin-bottom: 5vh;
    }

    

    .questions {
        font-size: small;
        margin: 1vh;
    
    }

    .responses {
        font-size: 120%;
        width: 80vw;
    }

    p {
        font-size: large;
    }

    footer {
        height: 5vh;
        bottom: 0;
    }

    .flex-row {
        flex-direction: column;
        height: 100vh;
    }


    h2{
        font-size: 3.2vh;
        text-align: center;
    }

    #result-section {
        height: 95vh;
    }

    .other-section {
        height: 85vh;
        width: 80vw;
        padding-left: 10vw;
    }

    .align-left {
        margin-left: 5vw;
    }

    .zdroje {
        font-size: medium;
    }

    #question1 {
        padding-top: 10vh;
    }

    #question3, #question5 {
        padding-top: 5vh;
    }
    
  
}

